#about {
    padding: 100px 10% 50px;
    background-color: azure;
}
#about-title {
    color: var(--fadedarkblue);
}
#about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}
#about-me {
    text-align: start;
    color: var(--grayblue);
    font-size: 20px;
}
#about-me>a {
    color: cornflowerblue;
}

#picture {
    width: clamp(200px, 30vw, 350px);
    border-radius: 50%;
    clip-path: circle(50%, 50%);
}

@media screen and (max-width: 900px) {
    #about-content {
        flex-direction: column;
    }

}