#experience {
    background-color: midnightblue;
    padding: 100px 15% 50px;
}
#experience-title {
    color: azure;
}
.experience-presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.visual-content {
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0px 0px 20px black;
}
.experience-information {
    margin-left: -5%;
}
.experience-principal-information {
    text-align: end;
}
.experience-description {
    position: relative;
    z-index: 1;
    font-size: 16px;
    background-color: midnightblue;
    color: white;
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
    padding: 5% 5% 5% 15%;
    text-align: end;
}