#experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 30px;
    background-color: var(--midnightblue);
}
#experience-title {
    color: azure;
}
.experience-presentation {
    max-width: 1200px;
}
/*
Visual content on the left :
- Videomuseum
*/
#videomuseum {
    flex-direction: row;
    justify-content: center;
}
#videomuseum-information {
    text-align: end;
    align-items: end;
    margin-left: -100px;
}
#videomuseum-description {
    padding: 5% 5% 5% calc(100px + 5%);
}
/*
Visual content on the right :
- Omega Agency
*/
#omega-agency, #stef {
    flex-direction: row-reverse;
    justify-content: center;
}
#omega-agency-information, #stef-information {
    text-align: start;
    align-items: start;
    margin-right: -100px;
}
#omega-agency-description, #stef-description {
    padding: 5% calc(100px + 5%) 5% 5%;
}

@media screen and (max-width: 1000px) {
    #videomuseum-information, #omega-agency-information, #stef-information {
        text-align: start;
        align-items: start;
        margin: 0;
        padding: 8%;
    }
    #videomuseum-description, #omega-agency-description, #stef-description {
        padding: 0;
    }
    #videomuseum::after, #omega-agency::after, #stef::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: black;
        opacity: .2;
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #stef::after {
        background-image: url("../ressources/images/experience/stef-car.jpg");
    }
    #videomuseum::after {
        background-image: url("../ressources/images/experience/videomuseum-logo.jpg");
    }
    #omega-agency::after {
        background-image: url("../ressources/images/experience/Omega-Agency-logo.jpg");
    }
}

@keyframes opacity-tooltip {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}