* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    box-sizing: border-box;
}
:any-link {
    cursor: pointer;
    pointer-events: auto;
}