@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu-Regular.ttf') format('opentype');
    src: url('/ressources/fonts/Ubuntu/Ubuntu-Regular.ttf') format('opentype');
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', 'Montserrat', 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* Global variable */
    --nav-height: 100px;
    --shadow-navigation-bar: 2px;
    --fadedarkblue: rgba(0, 0, 30, 0.9);
    --grayblue: #3e4656;
    --midnightblue: #151b46;
    --darkslateblue: #2c3368;
    --blue-azure: #97b8f3;
    --light-blue: #97b8f3;
    --light-yellow: #f1f1ac;
    --slight-dark-yellow: #dfdf71;
    --orange-gitlab: #E24329;
}
:any-link {
    cursor: pointer;
    pointer-events: auto;
}
.title-section {
    text-align: center;
    font-size: 40px;
    margin-bottom: 5%;
}

.experience-presentation, .projects-presentation{
    display: flex;
    align-items: center;
    width: 70%;
}

.visual-content {
    z-index: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 20px black;
    width: clamp(200px, 40%, 500px);
}

.experience-information, .projects-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: aliceblue;
}

.job-title, .projects-title {
    color: cornflowerblue;
    font-size: 25px;
}

.main-information {
    font-size: 18px;
}
.main-information>a {
    color: lightsteelblue;
}

.experience-description {
    font-size: 16px;
    background-color: var(--blue);
    color: white;
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
}

@media screen and (max-width: 1000px) {

    .experience-presentation,
    .projects-presentation {
        position: relative;
        isolation: isolate;
        border-radius: 30px;
        box-shadow: 0px 0px 20px black;
        width: 100%;
    }

    .visual-content {
        display: none;
    }

    .experience-description,
    .projects-description {
        background-color: unset;
        box-shadow: none;
    }

}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
.show  {
    opacity: 1;
    filter: blur(0);
}
@media(prefers-reducted-motion) {
    .hidden {
        transition: none;
    }
}

.tooltip:hover::before {
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    background: rgba(0, 0, 30);
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    transform: translateY(30px) translateX(3px);
    animation: 0.5s opacity-tooltip;
}
.tooltip:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: max-content;
    text-align: center;
    background: rgba(0, 0, 30);
    padding: 10px;
    border-radius: 15px;
    transform: translateY(50px) translateX(-75px);
    animation: 0.5s opacity-tooltip;
}