#home {
    position: relative;
    z-index: 1;
    height: 100svh;
    max-width: 100%;
    background: radial-gradient(ellipse at bottom, steelblue 0%, black 85%);
}
#navigation-bar {
    position: fixed;
    z-index: 9;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    pointer-events: none;
    transition: all 0.5s ease;
}

#navigation-bar-mobile {
    display: none;
}

#navigation-bar.sticky {
    padding: 30px;
    height: 75px;
    background-color: var(--fadedarkblue);
    box-shadow: 0 var(--shadow-navigation-bar) 20px black;
}
#navigation-bar.nav-hidden {
    transform: translateY(calc(-1*var(--nav-height)));
}
.logo {
   height: 50px; 
   border-radius: 40%;
   animation: slide-from-top;
   animation-duration: 1s;
}

#nav-links {
    display: flex;
    align-items: center;
}
#nav-links>li {
    font-weight: bold;
    margin: 0 25px;
    opacity: 0;
}
#nav-links :nth-child(1) {
    animation: slide-from-top;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#nav-links :nth-child(2) {
    animation: slide-from-top;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#nav-links :nth-child(3) {
    animation: slide-from-top;
    animation-delay: 0.4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#nav-links :nth-child(4) {
    animation: slide-from-top;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#nav-links :nth-child(5) {
    animation: slide-from-top;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#nav-links :nth-child(6) {
    animation: slide-from-top;
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#nav-links>li>a {
    text-decoration: none;
    color: white;
}
#nav-links>li>a:hover {
    color: lightsteelblue;
    font-weight: bold;
}
#menu-burger-icon {
    display: none;
    position: relative;
    width: 50px;
    pointer-events: auto;
}

#presentation {
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
#hi {
    color: lightblue;
    font-size: 20px;
    opacity: 0;
    animation: slide-from-left;
    animation-delay: 0.7s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#name {
    font-size: clamp(40px, 8vw, 80px);
    margin-top: 20px;
    color: whitesmoke;
    opacity: 0;
    animation: slide-from-left;
    animation-delay: 0.8s;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
#profession {
    font-size: clamp(40px, 8vw, 80px);
    color: cornflowerblue;
    opacity: 0;
    animation: slide-from-left;
    animation-delay: 0.9s;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
#biography {
    font-size: 20px;
    margin-top: 20px;
    max-width: 500px;
    text-align: justify;
    color: lightsteelblue;
    opacity: 0;
    animation: slide-from-left;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
#biography>a {
    color: cyan;
}

#chevron-bottom-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    pointer-events: auto;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    width: 80px;
    height: 80px;
    opacity: 0;
    animation: 1s linear 1s slide-from-top, slide-chevron 2s linear infinite;
    animation-fill-mode: forwards
}
#chevron-bottom-icon:hover {
    animation-play-state: paused;
}

@media screen and (max-width: 900px) {

        #menu-burger-icon {
            display: flex;
            vertical-align: middle;
        }
        #nav-links {
            display: none;
        }
        #navigation-bar-mobile {
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            width: 80%;
            height: 100vh;
            background-color: var(--fadedarkblue);
            box-shadow: calc(-1 * var(--shadow-navigation-bar)) 0px 20px black;
            justify-content: space-between;
            align-items: center;
            margin-left: calc(100% + var(--shadow-navigation-bar));
            pointer-events: auto;
            transition: all 0.5s ease;
        }
        #menu-exit-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 50px;
            pointer-events: auto;
        }
        #nav-links-mobile {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10%;
        }
        #navigation-bar-mobile.mobile-menu {
            transform: translateX(calc(-100% - var(--shadow-navigation-bar)));
        }
        #nav-links-mobile>li {
            font-size: 1.5em;
            font-weight: bold;
        }
        #nav-links-mobile>li>a {
            color: white;
        }
        
}

@keyframes slide-from-top {
    from {
        opacity: 0;
        transform: translateY(-60%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-left {
    from {
        opacity: 0;
        transform: translateX(-60%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-chevron {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20%);
    }

    75% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}