.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer-blue {
    background-image: url('../ressources/img/layered-waves-blues.svg');
}