.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer-midnightblue {
    background-image: url('/ressources/images/design/wave-midnightblue.svg');
}
.layer-grayblue {
    background-image: url('/ressources/images/design/wave-blue.svg');
}
.layer-midnightblue-to-azure {
    background-image: url('/ressources/images/design/wave-midnightblue-to-azure.svg');
}