#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 50px;
    background-color: var(--darkslateblue);
}
#title-projects {
    color: azure;
}
.language {
    color: aquamarine;
}
.projects-description {
    font-size: 16px;
    background-color: var(--blue);
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
    padding: 5% calc(100px + 5%) 5% 5%;
}
.internet-logo, .github-logo {
    width: 32px;
}
.github-logo:hover {
    stroke: var(--blue-azure);
}
.internet-logo:hover {
    fill: var(--blue-azure);
}

.projects-presentation {
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
}
.projects-information {
    text-align: end;
    align-items: end;
    margin-left: -100px;
}
.projects-description {
    padding: 5% 5% 5% calc(100px + 5%);
}
.projects-presentation.projects-presentation-alt{
    flex-direction: row-reverse;
}
.projects-information.projects-information-alt {
    text-align: start;
    align-items: start;
    margin-left: 0;
    margin-right: -100px;
}
.projects-description.projects-description-alt {
    padding: 5% calc(100px + 5%) 5% 5%;
}
@media screen and (max-width: 1000px) {

    .projects-information, .projects-information.projects-information-alt {
        align-items: start;
        text-align: start;
        margin: 0;
        padding: 8%;
    }

    .projects-description, .projects-description.projects-description-alt {
        padding: 0;
        background-color: unset;
        box-shadow: none;
    }

    .projects-presentation::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: black;
        opacity: .2;
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #conversational-agent::after {
        background-image: url("../ressources/images/projects/talkrai-callbot.jpg");
    }
    #resolution-vote::after {
        background-image: url("../ressources/images/projects/vote-illustration.jpg");
    }
    #dns-sinkhole::after {
        background-image: url("../ressources/images/projects/DNS-server.png");
    }
    #portfolio::after {
        background-image: url("../ressources/images/projects/portfolio.png");
    }

    #dotfiles::after {
        background-image: url("../ressources/images/projects/dotfiles.png");
    }
    
    #beballer::after {
        background-image: url("../ressources/images/projects/beballer.png");
    }
    #threes::after {
        background-image: url("../ressources/images/projects/threes.png");
    }
}