#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 50px;
    background-color: var(--blue);
}
#title-projects {
    color: azure;
}

.projects-presentation {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70%;
}
.projects-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-right: -100px;
    text-align: start;
    color: aliceblue;
}
.projects-main-information, .language {
    margin-left: 5%;
}
.language {
    color: aquamarine;
}
.projects-name {
    color: cornflowerblue;
    font-size: 25px;
    margin-bottom: 20px;
}
.projects-description {
    font-size: 16px;
    background-color: var(--blue);
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
    padding: 5% calc(100px + 5%) 5% 5%;
}
.gitlab-logo {
    width: 50px;
}