#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 50px;
    background-color: var(--blue);
}
#title-projects {
    color: azure;
}
.language {
    color: aquamarine;
}
.projects-description {
    font-size: 16px;
    background-color: var(--blue);
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
    padding: 5% calc(100px + 5%) 5% 5%;
}
.internet-logo, .gitlab-logo, .github-logo {
    width: 32px;
}
.gitlab-logo:hover {
    stroke: var(--orange-gitlab);
}
/*
Visual content on the left:
- Portfolio
- Beballer
*/
#portfolio, #beballer {
    flex-direction: row;
}

#portfolio-information, #beballer-information {
    text-align: end;
    align-items: end;
    margin-left: -100px;
}

#portfolio-description, #beballer-description {
    padding: 5% 5% 5% calc(100px + 5%);
}
/*
Visual content on the right :
- Dotfiles
*/
#dotfiles, #threes{
    flex-direction: row-reverse;
}

#dotfiles-information, #threes-information {
    text-align: start;
    margin-right: -100px;
}

#dotfiles-description, #threes-description {
    padding: 5% calc(100px + 5%) 5% 5%;
}
@media screen and (max-width: 1000px) {

    #portfolio-information,
    #dotfiles-information,
    #beballer-information,
    #threes-information {
        align-items: start;
        text-align: start;
        margin: 0;
        padding: 8%;
    }

    #portfolio-description,
    #dotfiles-description,
    #beballer-description,
    #threes-description {
        padding: 0;
        background-color: unset;
        box-shadow: none;
    }

    #portfolio::after,
    #dotfiles::after,
    #beballer::after,
    #threes::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: black;
        opacity: .2;
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #portfolio::after {
        background-image: url(/ressources/images/projects/portfolio.png);
    }

    #dotfiles::after {
        background-image: url(/ressources/images/projects/dotfiles.png);
    }
    
    #beballer::after {
        background-image: url(/ressources/images/projects/beballer.png);
    }
    #threes::after {
        background-image: url(/ressources/images/projects/threes.png);
    }
}