#skills {
    padding: 100px 30px;
    background-color: steelblue;
}
#skills .title-section {
    color: var(--midnightblue);
}
#skills-box {
    display: flex;
    gap: 50px;
    margin: auto;
    width: min(1300px, 90%);
    min-height: 700px;
    text-align: center;
}
#title-skills-category {
    background-color: var(--blue-azure);
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    gap: 10px;
}
.chevron {
    pointer-events: auto;
    width: 64px;
    cursor: pointer;
}
.chevron:hover {
    fill: var(--sky-blue);
}
.title-focus {
    font-size: 28px;
    font-weight: bold;
    color: var(--midnightblue);
    transition: all 1s ease;
}
.title-behind {
    color: var(--grayblue);
    font-size: 20px;
    font-weight: bold;
    opacity: 0.7;
}
.hidden-title-skills {
    display: none;
}
#title-skills-category>span {
    height: 50px;
}
.title-skills-mobile {
    display: none;
}
.main-container {
    display: table;
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 20px black;
    background-color: var(--blue-azure);
    border-radius: 30px;
    padding: 20px;
}
.skills-logo {
    width: 64px;
    height: 64px;
}

.container-skills {
    display: none;
    font-size: 0;
}
.container-skills a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--sky-blue);
    color: black;
    width: 110px;
    margin: 10px;
    border-radius: 30px;
    font-size: initial;
    padding: 15px;
}

.container-skills a.slide-from-bottom {
    animation: slide-from-bottom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.container-skills a.slide-from-top {
    animation: slide-from-top;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.container-skills a:hover {
    background-color: var(--slight-dark-yellow);
}
.container-skills.skills-visible {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    #title-skills-category {
        display: none;
    }
    #skills-box {
        background: unset;
        box-shadow: none;
        width: 100%;
        padding: 0;
    }
    .main-container {
        display: block;
        background-color: unset;
        box-shadow: unset;
        border-radius: unset;
    }
    .title-skills-mobile {
        display: block;
        font-size: 20px;
        color: lightblue;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .container-skills {
        display: block;
        background-color: var(--blue-azure);
        box-shadow: 0px 0px 20px black;
        border-radius: 20px;
        padding: 5px;
    }
    .container-skills a {
        display: inline-flex;
        animation: unset;
    }
}

@media screen and (max-width: 370px) {
    .container-skills a {
        width: 90%;
    }
}

@keyframes slide-from-bottom {
    from {
        opacity: 0;
        transform: translateY(60%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-top {
    from {
        opacity: 0;
        transform: translateY(-60%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}