#skills {
    padding: 100px 50px;
    background-color: steelblue;
}
#skills-box {
    display: flex;
    gap: 60px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    margin: auto;
    width: min(1200px, 80%);
    min-height: 700px;
    text-align: center;
}
#title-skills-category {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    gap: 10px;
}
#title-skills-category>button {
    padding: 20px;
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px var(--grayblue);
    border-radius: 30px;
    border: solid;
    width: 250px;
    font-size: 15px;
    font-family: 'Ubuntu';
    font-weight: bold;
}
#title-skills-category>button.button-skills {
    background-color: var(--blue-azure);
}
#title-skills-category>button:hover {
    background-color: var(--blue-azure);
}
#title-skills-category>button:active {
    background-color: cornflowerblue;
}
#software-development {
    display: contents;
}
.main-container {
    text-align: center;
    width: 100%;
}
.skills-logo {
    width: 64px;
    height: 64px;
}

.container-skills {
    display: none;
    font-size: 0;
}

.container-skills div {
    background-color: var(--light-yellow);
    width: 110px;
    margin: 10px;
    border-radius: 30px;
    display: inline-block;
    font-size: initial;
    padding: 15px;
}
.container-skills div:hover {
    background-color: var(--slight-dark-yellow);
}

.container-skills a {
    display: inline-block;
    color: black;
}
.container-skills a div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
