#skills {
    padding: 100px 30px;
    background-color: steelblue;
}
#skills-box {
    display: flex;
    gap: 60px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    margin: auto;
    width: min(1200px, 80%);
    min-height: 700px;
    text-align: center;
}
#title-skills-category {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    gap: 10px;
}
#title-skills-category>button {
    padding: 20px;
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px var(--grayblue);
    border-radius: 30px;
    max-width: 250px;
    font-size: 15px;
    font-family: 'Ubuntu';
    font-weight: bold;
}
#title-skills-category>button.button-skills {
    background-color: var(--blue-azure);
}
#title-skills-category>button:hover {
    background-color: var(--blue-azure);
}
#title-skills-category>button:active {
    background-color: cornflowerblue;
}
.title-skills-mobile {
    display: none;
}
.main-container {
    text-align: center;
    width: 100%;
}
.skills-logo {
    width: 64px;
    height: 64px;
}

.container-skills {
    display: none;
    font-size: 0;
}
.container-skills a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--light-yellow);
    color: black;
    width: 110px;
    margin: 10px;
    border-radius: 30px;
    font-size: initial;
    padding: 15px;
    animation: slide-from-bottom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.container-skills a:hover {
    background-color: var(--slight-dark-yellow);
}
.container-skills.skills-visible {
    display: contents;
}

@media screen and (max-width: 1000px) {
    #title-skills-category {
        display: none;
    }
    #skills-box {
        background: unset;
        box-shadow: none;
        width: 100%;
        padding: 0;
    }

    .title-skills-mobile {
        display: block;
        font-size: 20px;
        color: lightblue;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .container-skills {
        display: block;
        background-color: white;
        box-shadow: 0px 0px 20px black;
        border-radius: 20px;
        padding: 5px;
    }
    .container-skills a {
        display: inline-flex;
        animation: unset;
    }
}

@keyframes slide-from-bottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}