* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
#nav-list{
    background-color: darkcyan;
    display: flex;
    justify-content: flex-end;
}
.nav-item {
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}