element {
    --bluesteel: #4682B4;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    box-sizing: border-box;
}
header {
    color: white;
}
:any-link {
    cursor: pointer;
    pointer-events: auto;
}
#particles {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: radial-gradient(ellipse at bottom, #031163 0%, #000 85%);
}
nav {
    position: fixed;
    z-index: 9;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    pointer-events: none;
}
nav .logo {
   height: 50px; 
   border-radius: 40%;
}
#nav-links {
    display: flex;
    align-items: center;
}
#nav-links>li {
    color: #C1CAF4;
    font-weight: bold;
    margin: 0 25px;
}
#nav-links>li>a {
    text-decoration: none;
    color: white;
}
#nav-links>li>a:hover {
    color: #B796F0;
    font-weight: bold;
}
#menu-button {
    display: none;
    position: relative;
    width: 50px;
    pointer-events: auto;
}

#presentation {
    position: relative;
    top: 30vh;
    bottom: 20vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
}
#hi {
    color: #1fbfb8;
    font-size: 20px;
}
#name {
    font-size: clamp(40px, 8vw, 80px);
    margin-top: 20px;
}
#profession {
    font-size: clamp(40px, 8vw, 80px);
    color: #97D3FF;
}
#biography {
    font-size: 20px;
    margin-top: 20px;
    max-width: 500px;
    text-align: justify;
}

@media screen and (max-width: 900px) {

        #menu-button {
            display: flex;
            vertical-align: middle;
        }
        #nav-links {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 100vh;
            backdrop-filter: blur(2px) brightness(60%);
            filter: drop-shadow(-10px 10px 4px #1fbfb8);
            justify-content: center;
            align-items: center;
            margin-left: 100%;
            pointer-events: auto;
        }
        #nav-links.mobile-menu {
            margin-left: 30%;
        }
        #nav-links>li {
            margin: 25px 0;
            font-size: 1.5em;
            font-weight: bold;
        }
        #nav-links>li>a {
            color: white;
        }
        
}
